@model Examentoezicht.Models.Reservatie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Reservatie</legend>

        @Html.HiddenFor(model => model.ReservatieId)

        <div class="control-group">
            @Html.LabelFor(model => model.ToezichtbeurtId, "ToezichtbeurtId", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("ToezichtbeurtId", String.Empty)
                @Html.ValidationMessageFor(model => model.ToezichtbeurtId, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.LectorId, "LectorId", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("LectorId", String.Empty)
                @Html.ValidationMessageFor(model => model.LectorId, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.AangemaaktOp, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.AangemaaktOp)
                @Html.ValidationMessageFor(model => model.AangemaaktOp, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.AangepastOp, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.AangepastOp)
                @Html.ValidationMessageFor(model => model.AangepastOp, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

